.type-page {
  @include clearfix();
}

.page-content {
  width: 75%;
  float: right;
  padding: 3rem 0 4rem 4rem;
}

.layout-module {
  border-top: 3px solid $yellow;
  margin-bottom: 4rem;

  &:first-of-type {
    border-top: none;
  }
}

@media (max-width: 1024px) {
  .page-content {
    width: 100%;
    float: none;
    padding: 0;
  }
}
