.search-form {
  @include grid(flex-start, stretch, row);

  position: relative;
  background-color: $green;
  padding: 1rem 2rem;
  margin: 4rem 0 1rem 0;
  border-radius: 1.5rem;
  border: 2px solid $blue;
  color: $white;

  h1 {
    color: $yellow;
    font-style: italic;
    font-weight: $font-ultra-bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    padding: 1rem 0;
  }

  button {
    position: absolute;
    top: calc(100% - 1.5rem);
    right: 4rem;
  }
}

.search-form-left {
  @include grid(space-between, flex-start, column);

  width: 60%;
  padding-right: 2rem;

  strong {
    color: $yellow;
  }
}

.search-form-cats {
  width: 40%;
}

.search-results-info {
  text-align: center;
  color: $green;
  margin-bottom: 2rem;
  font-style: italic;

  .none {
    display: block;
    padding-bottom: 6rem;
  }
}

.search-form-cat {
  color: $white;
  cursor: hand;
  cursor: pointer;

  @include transition();

  &:hover {
    color: $green-light;
  }

  &.is-active {
    color: $yellow;
    cursor: not-allowed;

    &:hover {
      opacity: 0.8;
    }
  }
}

.search-form-list-parent {
  margin-bottom: 0.5rem;
}

.search-form-list-children {
  @include listStripped();
  @include grid(flex-start, center, row, wrap);

  margin-bottom: 1.5rem;
  width: 100%;

  li {
    margin: 0 1rem 0.5rem 0;
  }

  &:last-child {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 1400px) {
  .search-form-left,
  .search-form-cats {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .search-form {
    @include grid(center, center, column);
  }

  .search-form-left,
  .search-form-cats {
    width: 100%;
  }

  .search-form-list-parent {
    margin: 0.5rem 0;
  }

  .search-form-list-children {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .search-results-info {
    margin: 3rem 0 1rem 0;
  }
}

@media (max-width: 600px) {
  .search-form-list-parent {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
}
