.module-slider {
  margin-bottom: 0;
}

.module-slide-inner {
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1024px) {
  .module-slide-inner {
    height: 50vw;
  }
}
