/**
  Global Website Header
  ---------------------------------------------------------------------- */
body {
  padding-top: 102px;
}

#header {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-image: url('../images/header-middle.png');
  background-repeat: repeat-x;
  background-position: right bottom;
  background-color: $tan;
  width: 100%;
  height: 102px;
}

.logo-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35%;
  height: 150px;

  @include grid(center, center, column);

  img {
    position: relative;
    z-index: 1;
    display: block;

    @include transition();
  }

  &:hover img {
    transform: scale(1.01);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background-image: url('../images/header-middle.png');
    background-repeat: repeat-x;
    background-position: right bottom;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    left: calc(100% - 100px);
    bottom: 0;
    width: 236px;
    height: 200px;
    background-image: url('../images/header-transition.png');
  }
}

.header-sub {
  position: relative;

  .wrap {
    @include grid(flex-end, stretch, row);

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      height: 6px;
      width: 100vw;
      right: 0;
      top: -2px;
      background-color: $yellow;
    }
  }

  ul {
    @include listStripped();
  }

  a {
    @include grid(center, center);
    @include transition();

    position: relative;
    z-index: 1;
    padding: 0 52px 0 0;
    height: 64px;
    color: $white;
    background-image: url('../images/bar-middle.png');
    background-repeat: repeat-x;
    text-shadow: 0 0 1rem $black;
    font-size: 1.15rem;
    font-weight: $font-bold;
    font-style: italic;

    span {
      position: relative;
      z-index: 1;
      transform: translateX(-16px);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      display: block;
      height: 100%;
      width: 146px;
      left: -110px;
      top: 0;
      background-image: url('../images/bar-start.png');
    }
  }

/* stylelint-disable */
  nav {
    &:hover a {
      color: $yellow;
    }

    &:last-of-type a {
      background-color: $yellow;
      background-image: none;
      padding-right: 1rem;
      font-size: 2em;
      color: $green;
      text-shadow: none;

      &::before {
        background-image: url('../images/bar-end.png');
      }

      &:hover {
        color: $green;
        text-shadow: 0 0 0.25rem $tan;
      }

      .name {
        font-size: 0.65em;
        margin: 0.15em 0.25em 0 0;

        &::after {
          content: ': ';
          display: inline;
        }
      }

      .data {
        font-weight: $font-ultra-bold;
      }
    }
  }
}

.header-sub-link {
  position: relative;
  z-index: 1;
}

.nav-header {
  position: relative;
  z-index: 2;
  float: left;
  margin-left: calc(35% + 100px);
  width: 35%;
  height: 90px;

  @include grid(center, center, row, wrap, center);

  ul {
    @include listStripped();
  }

  a {
    display: block;
    padding: 0.25rem 1rem;
    color: $green;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
}

.header-icons {
  @include grid(center);

  width: calc(30% - 100px);
  float: right;

  img {
    display: block;
    height: 60px;
    width: auto;
    margin: 1rem;
  }

  a {
    @include transition();

    &:hover {
      transform: scale(0.975);
    }
  }
}

/* stylelint-enable*/

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1400px) {
  .nav-header {
    width: 40%;
    margin-left: calc(35% + 60px);
  }

  .header-icons {
    width: calc(20% - 60px);
  }
}

@media (max-width: 1200px) {
  .header-sub .wrap {
    padding: 0;
  }

  .logo-header img {
    left: 1rem;
  }
}

@media (max-width: 1024px) {
  #header .wrap {
    @include grid(space-between, center);

    height: 90px;
  }

  .logo-header {
    position: static;
    display: block;
    height: auto;
    width: 50%;

    &::before,
    &::after {
      display: none;
    }

    img {
      left: 0;
    }
  }

  .nav-header,
  .header-icons {
    display: none;
  }

  .header-sub nav:last-of-type a {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 4.5rem;
  }

  .header-sub .wrap {
    @include grid(center, center, column);

    nav {
      width: 100%;
    }

    a {
      padding: 0;

      &::before {
        display: none;
        border: none;
      }

      span {
        transform: none;
      }
    }
  }

  #header {
    height: 4.5rem;

    & > .wrap {
      height: 4rem;
    }
  }

  .logo-header {
    width: auto;

    img {
      height: 2rem;
      width: auto;
    }
  }

  .header-sub-link {
    display: none;
  }
}
