/**
  Header
  ---------------------------------------------------------------------- */
a.nav-header-home {
  display: block;
  width: 1.25rem;
  padding: 0 !important;
  margin-bottom: 0.4rem;

  img {
    display: block;
    width: 100%;
  }
}

/**
  Sidebar
  ---------------------------------------------------------------------- */
.sidebar-navigation {
  margin: 3rem 0;

  ul {
    @include listStripped();

    a {
      background-color: $green;
      display: block;
      color: $white;
      padding: 0.75rem 1rem;
      border-bottom: 2px solid $tan;
      font-size: 1.25rem;
      font-weight: $font-bold;
      font-style: italic;
      text-transform: uppercase;

      @include transition();

      &:hover {
        color: $yellow;
      }
    }

    li:first-of-type a {
      border-radius: 1em 1em 0 0;
    }

    li:last-of-type a {
      border-radius: 0 0 1em 1em;
    }

    li.current-menu-item a {
      color: $yellow;
    }
  }
}

/**
  Footer
  ---------------------------------------------------------------------- */
#footer .wrap {
  @include grid(space-between, flex-start, row, wrap);

  nav {
    padding: 0.5rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    ul {
      @include listStripped();

      a {
        display: block;
        text-transform: uppercase;
        font-weight: $font-bold;
        font-size: 0.85rem;
        line-height: 1.25;
      }
    }

    .sub-menu {
      a {
        background-color: transparent !important;
        color: $black !important;
        text-align: left !important;
        padding: 0 !important;
      }

      .sub-menu a {
        text-transform: none;
        font-weight: $font-normal;
        margin-top: 0 !important;
      }
    }

    .menu-item-577 {
      width: 100%;

      & > ul.sub-menu {
        width: 100%;
        columns: 3;

        & > li {
          display: block !important;
          padding-top: 0.5rem !important;
          margin-top: 0 !important;
        }
      }
    }

    .menu-item-579 {
      width: 100%;
    }

    & > ul:first-child > li:first-child {
      a {
        background-color: $green;
        border-radius: 0.75rem;
        color: $white;
        padding: 0.5rem 0.25rem;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}

.nav-footer-large {
  width: 50%;
}

.nav-footer-medium {
  width: 20%;
}

.nav-footer-small {
  width: 10%;
}

/**
  Responsive Navigation
  ---------------------------------------------------------------------- */
#responsive-nav-toggle {
  @include hamburgerMenu(6, $green, 0.75);

  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .nav-header a {
    padding: 0.25rem 0.5rem !important;

    &.nav-header-home {
      padding: 0 !important;
    }
  }
}

@media (max-width: 1024px) {
  #responsive-nav-toggle {
    display: block;
  }
}
